@model Category
@{
    ViewData["Title"] = "Delete";
}

<form method="post" asp-action="Delete">
    <input asp-for="Id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Category</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" disabled class="form-control" />
        </div>

        <br />
        <hr />
        <button type="submit" class="btn btn-primary" style="width:150px">Delete</button>
        <a asp-action="Index" asp-controller="Category" class="btn btn-secondary" style="width:150px">
            back to Categories
        </a>
    </div>
</form>