@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">


    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Items View</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Category" asp-action="New" class="btn btn-primary">
                <i class="bi bi-plus"></i> &nbsp; Add New Item
            </a>
        </div>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">
                    Category Name
                </th>
                <th scope="col">
                    Image
                </th>
                <th scope="col">
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="table-primary">
                    <td scope="row" width="30%">
                        @item.Name
                    </td>
                    <td>
                        <img src="@item.imageSrc" style="width:48px" class="img-thumbnail" />
                    </td>
                    <td>
                        <a asp-controller="Category" asp-action="Edit" asp-route-Id="@item.Id" class="btn btn-sm btn-success">
                            <i class="bi bi-pencil"></i>
                        </a>
                        &nbsp;
                        <a asp-controller="Category" asp-action="Delete" asp-route-Id="@item.Id" class="btn btn-sm btn-danger">
                            <i class="bi bi-trash3"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


