@model Item
@{
    ViewData["Title"] = "Delete";
}

<form method="post" asp-action="Delete">
    <input asp-for="Id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Item</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Price"></label>
            <input asp-for="Price" disabled class="form-control" />
        </div>
        <div>
            <label asp-for="CategoryId"></label>
            <select asp-for="CategoryId" class="form-control" disabled asp-items="@ViewBag.CategoryList">
            </select>
        </div>

        <br />
        <hr />
        <button type="submit" class="btn btn-primary" style="width:150px">Delete</button>
        <a asp-action="Index" asp-controller="Items" class="btn btn-secondary" style="width:150px">
            back to items
        </a>
    </div>
</form>